dody, div, td {
	font-size:12px;
	color:black;
	background-color:white;
}

.panel {
	padding:10px;
	border-radius:2px;
	border:1px solid silver;
	box-shadow:3px 2px 3px silver;
	background-color:white;
	color:navy;
	margin:auto
}
.center {
        margin:auto;
}
.menu_link {
	font-size:12px;
	margin:5px;
	text-decoration:none;
	border:1px solid silver;
	color:black;
	padding:4px;
	background-color:#AFC4D1;
	border-radius:3px;
}
.menu_link:hover {
	font-size:12px;
        margin:5px;
        text-decoration:none;
        border:1px solid silver;
        color:black;
	background-color:#CBDFEC;
        padding:4px;
        border-radius:3px;
}
